@tailwind base;
@tailwind components;
@tailwind utilities;

input::file-selector-button {
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  padding: 0.5em;
  border-radius: 3px;
}


/* index.css */
/* styles.css */

.data-table-container {
  width: 80%;
  height: 80vh;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.data-table {
  width: 100%; /* Make the table fill its container's width */
  border-collapse: collapse;
  table-layout: fixed; /* Use fixed table layout to support column widths */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Set the width for each column (adjust as needed) */
th:nth-child(1),
td:nth-child(1) {
  width: 150px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 200px;
}

/* Add more nth-child rules for additional columns */
