@tailwind base;
@tailwind components;
@tailwind utilities;

input::file-selector-button {
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  padding: 0.5em;
  border-radius: 3px;
}